{% extends "header.html" %}

{% block content %}

<style>
body{
	background-image: linear-gradient(75deg, rgb(82,0,165), rgba(63,94,251,1));
}

.flex-container2 {
  display: flex;
  margin: 100px;
  margin-left: 80px;
}

.flex-container2 > div {
  margin-left: 100px;
}

.flex-container2 > div > button {
  color: rgb(45, 1, 45);
}

.flex-container3 {
  margin: 100px;
  margin-left: 185px;
  margin-right: 185px;
  background-color: white;
  border-radius: 15px;
}

.flex-container3 > table {
  margin: 50px;
  text-align: center;
}

.flex-container5 {
  margin: 50px;
  display: flex;
  text-align: center;
  margin-left: 180px;
  margin-right: 185px;
  background-color: white;
  border-radius: 25px;
}

.flex-container5 > td {
  border:1px solid black;
}

#features {
	background-color: rgb(45, 1, 45);
}

.card {
	padding: 10px;
}

.footer {
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
}

.footer__logo img {
  margin-left: 20px;
}

.footer__title{
	display: block;
	justify-content: space-between;
}

.footer__name {
  font-size: 25px;
  color: white;
}

.footer__text {
  font-size: 15px;
  font-style: italic;
  color: white;
}	
</style>

<body>	
	<div class="flex-container2">
		<div style="color: white;">
			<h6>
				SAVE YOUR TIME
			</h6>
			<p style="font-size: 100px;">
				WORK ON PLANEUM
			</p>
			<h6>
				Join one of the most convenient app with your friends and colleagues!
			</h6>
			<button class="btn btn-warning" style="margin-top: 20px;">
				MORE INFORMATION
			</button>
		</div>
		<div>
			<img src="https://i.dlpng.com/static/png/5451843-resource-allocation-project-planning-timesheet-tracking-dovico-planning-png-1729_1459_preview.png" width="500px" height="400px">
		</div>
	</div>


	<div class="flex-container3">
		<br>
		<table style="color: black;">
			<tr>
				<td>
					<h3>This application will make life easier for every user who wants to properly allocate time and complete tasks on time!
						To get started, just create an account and view the instructions for using the application.</h3>
				</td>
			</tr>
			<tr>
				<td>
					<br>
					<button class="btn btn-warning">
						LEARN MORE
					</button>
				</td>
			</tr>
		</table>
		<br>
	</div>

	<br>
	<br>
	<br>
	<div style="text-align: center; color: rgba(255, 255, 255, 1.0);">
		<h2>
			Features
		</h2>
		<p>
			All this and even more you can do in the app
		</p>
	</div>

	<br>

	<div class="features justify-content-center" id="features">
		<div class="container">
		<div class="row row-cols-4">
			<div class="col">
				<div class="card" style="width: 15rem;">
				<img src="https://cdn-icons-png.flaticon.com/512/3209/3209203.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">To-Do List</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 15rem;">
				<img src="https://cdn3.iconfinder.com/data/icons/mass-media-fourteen-black-and-white/128/internet-512.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">News</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 15rem;">
				<img src="https://icon-library.com/images/group-512_51989.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Chat</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 15rem;">
				<img src="https://icon-library.com/images/planner-icon/planner-icon-19.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Planner</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				</div>				
			</div>
		</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<div style="text-align: center; color: rgba(255, 255, 255, 1.0);">
		<h2>
			Our Clients
		</h2>
		<p>
			All of them are using Planeum and may recommend this app
		</p>
	</div>

	<div class="flex-container5">
		<table>
			<tr>
				<td>
					<a href="https:" style="color: rgb(192, 50, 205);">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 1
						</h1>
					</a>
				</td>
				<td>
					<a href="https:" style="color: rgb(4, 0, 255);">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 2
						</h1>
					</a>
				</td>
				<td>
					<a href="https:/" style="color: grey; font-family: inherit;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 3
						</h1>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https:" style="color: rgb(28, 72, 77); font-family: gotham;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 4
						</h1>
					</a>
				</td>
				<td>
					<a href="https:" style="color: black; font-family: fantasy;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 5
						</h1>
					</a>
				</td>
				<td>
					<a href="https:" style="color: orange; font-family: fantasy;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 6
						</h1>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https:" style="color: rgb(85, 27, 27); font-family: unset;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 7
						</h1>
					</a>
				</td>
				<td>
					<a href="https:" style="color: rgb(22, 22, 71); font-family: sans-serif;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 8
						</h1>
					</a>
				</td>
				<td>
					<a href="https:" style="color: rgb(27, 59, 24); font-family: monospace;">
						<h1 style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;">
							Person 9
						</h1>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__title">
                    <div class="footer__name">
                        © 2022 Planeum
                    </div>
                    <div class="footer__text">
                        All rights reserved
                    </div>
                </div>
                <div class="footer__logo">
                    <div>
                        <img src=".png" alt="" width="20">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

{% endblock content %}